.mobile-filter {
  details > summary {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
    &::after {
      content: "";
      width: 18px;
      height: 13px;
      display: block;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none"%3E%3Cpath d="M1 1L10 14L19 1.0135" stroke="%23666666" stroke-linecap="round"/%3E%3C/svg%3E');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
